
/*

   ____                   ______    _                 _   _             _   _      _   
  / __ \                 |  ____|  | |               | | (_)           | \ | |    | |  
 | |  | |_ __   ___ _ __ | |__   __| |_   _  ___ __ _| |_ _  ___  _ __ |  \| | ___| |_ 
 | |  | | '_ \ / _ \ '_ \|  __| / _` | | | |/ __/ _` | __| |/ _ \| '_ \| . ` |/ _ \ __|
 | |__| | |_) |  __/ | | | |___| (_| | |_| | (_| (_| | |_| | (_) | | | | |\  |  __/ |_ 
  \____/| .__/ \___|_| |_|______\__,_|\__,_|\___\__,_|\__|_|\___/|_| |_|_| \_|\___|\__|
        | |                                                                            
        |_|       

MainCSS
*/

/*Çהוסü בûכ סמסוכ*/

.literature-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto
}

.literature-list>li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444
}

.literature-list>li:last-of-type {
    margin-bottom: 0
}

.literature-list>li .text {
    display: inline-block;
	width: 90%;
    font-weight: 400
}

.literature-list>li .label {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 12px
}

.literature-list>li .tools {
    float: right;
	display: inline-block;
	width: 8%;
    color: #444;

}

.literature-list>li .tools>.fa {
    margin-right: 5px;
    cursor: pointer
}

.literature-list>li:hover .tools {
    display: inline-block
}

.literature-list>li .number {
    display: inline-block;
	vertical-align: top;
	width: 2%;
}

button.literature-button {
	margin: 20px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #424242;
	padding: 5px 35px;
	background: rgba(77, 163, 255, 0.4);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-moz-box-shadow:
		0px 2px 2px rgba(100,100,100,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 2px 2px rgba(100,100,100,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 2px 2px rgba(100,100,100,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}

button.literature-button:hover {
	
	background: rgba(77, 163, 255, 0.7);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-moz-box-shadow:
		0px 2px 2px rgba(100,100,100,0.8),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 2px 2px rgba(100,100,100,0.8),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 2px 2px rgba(100,100,100,0.8),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}

button.literature-button>i {
	color: rgba(120, 120, 120, 0.9);
}

button.literature-button:hover>i {
	color: rgba(50, 50, 50, 0.8);
}

.literature-list>li.border-book{
    border-left-color: #3c8dbc;
}

.literature-list>li.border-electronic-resource {
    border-left-color: #5cb85c;
}

.literature-list>li.border-other-literature {
    border-left-color: #f39c12;
}

.literature-section {
    margin-bottom: 40px;
    margin-left: 20px;
}

.three-lines-cutted {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.6em; /* exactly three lines */
}

.article {
}

.description {
    position: relative;
    overflow: hidden;
}

.article p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    float: left;
}

.active.article p {
    white-space: normal;
}

.active.article .more {
    position: static;
    padding: 0;
}

.content-header {
    padding: 10px 15px 0 10px;
}